/* chanel project page */

.chanel-header {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;

  font-weight: 600;
  font-size: 2.5rem;
  color: black;
  text-align: center;
  border: 1px solid rgba(102, 96, 94, 0.667);
}

.chanel-about {
  display: block;
  margin-top: 2.2rem;
  margin-bottom: 2rem;

  font-family: "Mulish", serif;
  font-weight: 600;
  font-size: 2rem;
  color: #292814;
  text-align: left;
  border: 1px solid #8a8b8d;
}

.chanel-project {
  width: 60%;
}

.chanel-figures {
  margin-left: 13rem;
  margin-right: 0;
}

@media screen and (min-width: 1100px) {
  .chanel-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
