/* coffee table book page */

.coffee-header {
  margin-top: 2rem;
  margin-bottom: 2.2rem;
  text-align: center;

  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 2.8rem;
  color: #57321f;
}

.coffee-about {
  margin-top: 2.2rem;
  margin-bottom: 2rem;

  font-family: "Mulish", serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #292814;
  text-align: left;
  border: 1px solid #9aadc5;
}

.coffee-project {
  width: 100%;
}

figure {
  margin-left: 2rem;
  margin-right: 2rem;
}

@media screen and (min-width: 747px) {
  .coffee-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
