/* main elements */

* {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* header */

p {
  color: rgba(78, 65, 56, 255);
  margin-bottom: 0;
}

header {
  display: flex;
  /*flex-direction: column;    if i want header in the center*/
  align-items: center; /*cross-axes bcs rows*/
}

#logo {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 3.5rem;
  font-style: normal;
  color: rgb(235, 175, 145);
  margin-top: 0;
  text-align: center;

  animation-name: zooming;
  animation-delay: 4s;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes zooming {
  0% {
    transform: scale(0.9);
    color: #f7af91;
  }

  25% {
    transform: scale(1.1);
    color: rgb(242, 175, 145);
  }

  50% {
    transform: scale(1);
    color: #f9d694;
  }

  75% {
    transform: scale(0.9);
    color: #fff1d1;
  }

  100% {
    transform: scale(0.8);
    color: rgb(235, 175, 145);
  }
}

ul {
  display: flex; /*ended in a row. default direction*/
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 4rem;
}

a {
  color: #4c4d48;
}

@media screen and (max-width: 745px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  ul {
    margin-top: 1rem;
  }

  li {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}

/* main */

/* cat animation */

.pixel-img {
  width: 3%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 100px;
  animation-name: appearing;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes appearing {
  from {
    transform: translateX(1500px);
  }
  to {
    transform: translateX(1px);
  }
}

.main-img {
  /* The next 4 lines were adapted from https://www.w3schools.com/howto/howto_css_image_center.asp */

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 3px solid #fff1d1;
  border-radius: 5%;
}

/* h1 */
.about-me {
  margin-top: 2rem;
  margin-bottom: 2rem;

  font-family: "PT Serif", serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: rgba(169, 193, 169, 255);
  border: 1px solid rgb(75, 78, 81);
}

p1 {
  color: black;
}

/* footer */

footer {
  margin-top: 4rem;
  border-top: 1px solid rgb(75, 78, 81);
  color: black;
  text-align: center;
}
