* {
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
}

/* header */

#logo {
  font-weight: 800;
  font-size: 2.5rem;
  color: rgba(238, 213, 191, 255);
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: rgb(75, 78, 81);
}

/* main */

.main-img {
  width: 45%;
}

/* h1 */
h1 {
  font-weight: 600;
  font-size: 1.5rem;
  color: rgba(169, 193, 169, 255);
  border: 1px solid rgb(75, 78, 81);
}

/* footer */

footer {
  margin-top: 4rem;
  border-top: 1px solid rgb(75, 78, 81);
}
