* {
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
}

/* header */

p {
  color: rgba(78, 65, 56, 255);
  margin-bottom: 0;
}

header {
  display: flex;
  /*flex-direction: column;    if i want header in the center*/
  align-items: center; /*cross-axes bcs rows*/
}

#logo {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 3.5rem;
  font-style: normal;
  color: rgba(238, 213, 191, 255);
  margin-top: 0;
  text-align: center;
}

ul {
  display: flex; /*ended in a row. default direction*/
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 4rem;
}

a {
  color: rgba(78, 65, 56, 255);
}

@media screen and (max-width: 745px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  ul {
    margin-top: 1rem;
  }

  li {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}

/* main */

.main-img {
  /* The next 4 lines were adapted from https://www.w3schools.com/howto/howto_css_image_center.asp */

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* h1 */
h1 {
  margin-top: 2rem;
  margin-bottom: 2.2rem;
  font-weight: 600;
  font-size: 2rem;
  color: rgba(169, 193, 169, 255);
  border: 1px solid rgb(75, 78, 81);
}

/* footer */

footer {
  margin-top: 4rem;
  border-top: 1px solid rgb(75, 78, 81);
  color: black;
  text-align: center;
}

/* contact page */

h2 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 2rem;
  color: rgba(169, 193, 169, 255);
  text-align: center;
}

input {
  font-family: "Poppins", serif;
  display: block;
  color: black;
  background-color: #edb5bb;
  width: 50%;
  margin: 10px auto;
  font-size: 20px;
  padding: 10px;
  border: 1px solid rgb(75, 78, 81);
}

textarea {
  font-family: "Poppins", serif;
  display: block;
  color: black;
  background-color: #edb5bb;
  width: 50%;
  margin: 10px auto;
  font-size: 20px;
  padding: 10 px;
  border: 1px solid rgb(75, 78, 81);
}

button {
  font-family: "Poppins", serif;
  display: block;
  background-color: rgba(238, 213, 191, 255);
  border-color: rgb(75, 78, 81);
  font-size: 20px;
  text-align: center;
  border-width: 1px;
  margin: 10px auto;
}

/*The next 3 lines were adapted from: https://www.youtube.com/watch?v=gWgzzVVcqfA */

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* my projects page*/

h3 {
  margin-top: 2rem;
  margin-bottom: 2.2rem;
  font-weight: 600;
  font-size: 2.5rem;
  color: #57321f;
  text-align: center;
  border: 1px solid rgb(128, 103, 94);
}

/*grid-template-areas:
 "category category category" /*represent 1 row with 3 columns*/
/* "category category category"; /* - we can eaily see grid in code*/

figure {
  margin-left: 2rem;
  margin-right: 2rem;
  /*grid-area: category;*/
}

@media screen and (min-width: 520px) {
  /*at 520px grid start appearing*/
  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 750px) {
  .project-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-covers {
  width: 100%; /*take 100% space of each column*/
}

/* coffee table book page*/

h4 {
  margin-top: 2rem;
  margin-bottom: 2.2rem;
  font-weight: 600;
  font-size: 2.5rem;
  color: #57321f;
  text-align: center;
}

.coffee-project {
  width: 100%;
}

figure {
  margin-left: 2rem;
  margin-right: 2rem;
}

@media screen and (min-width: 747px) {
  .coffee-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

h5 {
  margin-top: 3rem;
  margin-bottom: 2.2rem;
  font-weight: 600;
  font-size: 2rem;
  color: black;
  text-align: left;
  border: 1px solid rgba(102, 96, 94, 0.667);
}

/* brochure page */

.brochure-project {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 2.5rem;
  color: #3d2214e1;
  text-align: center;
  border: 1px solid rgb(128, 103, 94);
}

h6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 2rem;
  color: black;
  text-align: left;
}
